.header{
    width: 100%;
    background:black;
    height:80px;
    line-height: 80px;
}
.hader-h1{
    display: inline-block;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-left: 20%;
}
.header-input{
    display: inline-block;
    width: 50%;
    height:50px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: -10px;
}
.header-button{
    float: right;
    height:50px;
    margin-top: 25px;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    margin-right: 4%;
}
.content{
    width: 100%;
    height: 100%;
}
.going{
    margin-left: 20%;
    margin-top: 5%;
}
.going-h1{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
}
.going-li{
    height: 60px;
    line-height: 60px;
    width: 70%;
    background: white;
    margin-top: 2%;
    border-left: 8px solid darkseagreen;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.checkbox{
    margin-left: 2%;
}
.p{
    display: inline-block;
    margin-left: 40%;
}
.button{
    float: right;
    background: #25a4bb;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    margin-top: 17px;
}
.haddone-li{
    height: 60px;
    line-height: 60px;
    width: 70%;
    background: white;
    margin-top: 2%;
    border-left: 8px solid darkslategrey;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.haddone-button{
    float: right;
    margin-right: 5%;
    background: #25a4bb;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    margin-top: 17px;
}